{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.product_title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.product_price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            </ul>
            <p>
                {{ object.product_description }}
            </p>
        </div>
    </div>
</div>
{% endblock %}