{% extends 'catalog/base.html' %}

{% load mediafilter %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.product_title }}</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid " style="width: 50%;" src="{{ object.product_preview | mymedia}}" alt="">
                  </div>
                <h1 class="card-title pricing-card-title">Цена: {{ object.product_price }}</h1>
                <p>
                    {{ object.product_description }}
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}